body{
    background-color: lightgrey;
}
div{
    display: block;
    clear: both;
}
div label{
    width: 10%;
    float: left;
}
div input{
    border: solid 2px;
    padding: 2px;
    margin: 2px;

}
.contenedor1{
    display: inline-block;
    margin-right: 10%;
}
.contenedor2{
    display: inline-block;
}