body{
    background-color: lightgrey;
    color: white;
}
.pedidodepizza1{
    background-color: darkblue;
    padding: 2%;
}
div{
    padding: 10px 0 10px 0;
}
label{
    display: inline-block;
    width: 10%;
    float: left;
}
.ingredientes label {
    display: inline;
    float: none;
}
.direccion input {
    width: 300px;
}