body{
    background-color: lightgrey;
    color: white;
}
.pedidoDePizza1{
    background-color: darkblue;
    padding: 2%;
    border: solid thin black;
}
.pedidoDePizza1 div{
    padding: 10px 0 10px 0;
}
.pedidoDePizza1 label{
    display: inline-block;
    width: 10%;
    float: left;
}
.ingredientes label {
    display: inline;
    float: none;
}
.direccion input {
    width: 300px;
}
.pedidoDePizza2{
    background-color: #ffcc99;
    padding: 2%;
    margin-top: 2%;
    border: solid thin black;
}
.pedidoDePizza2 h1{
    background-color: orange;
    text-align: center;
    color: black;
    padding: 3px;
}
.enviarResetear input{
    margin-right: 25%;
}