body{
    background-color: rgb(32, 32, 32);
}

.container{
    display: grid;
    grid-template-areas: "container1 container2";
    grid-template-columns: 1fr,1fr;
    grid-template-rows: 1fr;
    width: 100%;
    text-align: center;
    color: white;
}

.container1{
    grid-area: "container1";
    width: 100%;
}

.container2{
    grid-area: "container2";
    width: 100%;
}

.containerFijo{
    position: fixed;
    width: 500px;
}

#personaje{
    width: 300px;
}

#thNombre, .nombre{
    width: 250px;
}

table{
    margin: 20px auto auto auto;
}

.container2 h1{
    margin-bottom: 63px;
}

.tablaPersonaje{
    margin: auto;
}

.tablaEpisodios{
    width: 400px;
}

th, td{
    border: solid thin;
}

th{
    width: 100px;
}

td{
    width: 500px;
    padding: 5px;
    height: 70px;
}

.filaImagen{
    height: 400px;
}

.containerMale{
   color: rgb(73, 249, 73);
}

.containerFemale{
    color: yellow;
}

.containerUnknown{
    color: rgb(252, 144, 144);
}