body {
    background-image: url(./assets/fondo.gif);
    font-family: Verdana;
    font-size: 12px;
    color: darkblue;
}
h1 {
    font-family: Georgia;
    font-size: 36px;
    font-weight: bold;
    color: darkred;
}
h2 {
    font-size: 24px;
    font-weight: bold;
}