.container{
    width: 100%;
}

.cabeceraDiccionario{
    background-color: blue;
    color: white;
    height: 100px;
    text-align: center;
    margin-bottom: 20px;
}

.palabra, .definicion{
    margin-left: 10px;
}

.containerDesplegable{
    margin: auto;
    margin-top: 20px;
}

#desplegable{
    width: 150px;
}

.palabra{
    color: green;
}

.buscador, .containerDesplegable{
    padding: 20px;
    width: 250px;
    border: solid thin;
}

.buscador{
    margin: auto;
}