body{
    text-align: center;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "a1 negro a3"
    "negro a5 negro"
    "a7 negro a9";
    gap: 5px;
}

.contenedor div{
    border: solid;
    height: 250px;
    width: 90%;
    margin: auto;
}

img{
    width: 200px;
}

button p{
     padding: 0px;
}

.a1{
    grid-area: "a1";
}

.negro{
    align-content: center;
    grid-area: "negro";
    background-color: black;
}

.a3{
    align-content: center;
    grid-area: "a3";
}

.a5{
    align-content: center;
    grid-area: "a5";
}

.a7{
    grid-area: "a7";
}

.a9{
    grid-area: "a9";
}