h1{
    color: blue;
    text-align: center;
}

table{
    margin: auto;
}

table, th, td{
    border: solid thin black;
    border-collapse: collapse;
    padding: 5px;
}

table th{
    font-weight: bolder;
    background-color: lightgray;
    text-align: left;
}

.antiguedad{
    background-color: lightgreen;
}